.fmEBZo {
height: 80px;
width: 100%;
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
margin-bottom: 10px;
}
* {
    box-sizing: border-box;
}

.fgGMqX {
    height: 100%;
    width: 70px;
    padding: 25px;
    display:flex;
    -ms-flex:1;
    flex:1
}
.gbn {
    height: 100%;
    width: 70px;
    padding-left:10px;
    padding-top:10px;
}

.jBYPZs {
    width: 50%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.bSWXjj {
    padding: 10px 15px;
    cursor: pointer;
}
.epGZiQ {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
}
.cgZmbv {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Open Sans Condensed,sans-serif;
    margin: 0;
    padding: 20px 40px;
}
a {
    color: #0b0609;
    text-decoration: none;
}
.fYXwFS {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    
}
.gwLTjm:first-child {
    margin-right: 7.5px;
}
.gwLTjm {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0px 7.5px 15px;
    overflow: hidden;
}
.dXxpzs {
    height: 90px;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute;
}
.dXxpzs h2 {
    font-weight: bold;
    margin: 0px 6px;
    font-size: 16px;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
}
.dXxpzs p {
    font-weight: lighter;
    font-size: 16px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.jgTRRx {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.eeicYZ {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
}
.eHuqRc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;
}
.dvrVHl {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.dvrVHl img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    margin-bottom: 5px;
}
.gkXfoc {
    width: 100%;
    height: 5%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 16px;
}
.dvrVHl button {
    width: 70%;
    opacity: 0.7;
    top: 255px;
    position: absolute;
    display:none
    
}
.gVmIFE {
    width: 90%;
    margin-bottom: 15px;
}


.fIikTU {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.ffVeeb {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
}
.clUBWv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}
.cDfQDd:hover {
    background-color: black;
    color: white;
    border: none;
}
.dvrVHl:hover button {
    opacity: 0.85;
    display:grid
}
.gSlDUV {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
}
.ixchdn {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.jplYCh {
    font-size: 18px;
    margin: 50px auto;
}
.gSlDUV .sc-gLDzan, .gSlDUV .sc-iAEyYk, .gSlDUV .sc-fsQiph {
    margin-top: auto;
}
.ljQqJx {
    display: flex;
    flex-direction: column;
    width: 380px;
}
.ljQqJx h2 {
    margin: 10px 0px;
}
.iFgIuG {
    position: relative;
    margin: 45px 0px;
}
.cKjWoE {
    background: none white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-radius: 0px;
    border-bottom: 1px solid grey;
    margin: 25px 0px;
}
.lfTFwQ {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.jbMNPU {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0px 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.cGlpjr {
    background-color: rgb(66, 133, 244);
    color: white;
}
.edylEP {
    display: flex;
    width: 900px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 30px auto;
}
.jdsjkR {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 300ms ease 0s;
}
.cGdzpe {
    width: 100%;
    display: flex;
    height: 80px;
    margin-bottom: 15px;
}
.cGdzpe img {
    width: 30%;
}
.fYMCJj {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 10px 20px;
}
.fYMCJj span {
    font-size: 16px;
}
.eglKvN {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 50px auto 0px;
}
.gZIwrU {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
}
.gNgeZb {
    text-transform: capitalize;
    
}
.bmUiRd {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 5px 0px;
    font-size: 17px;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
}
.brUtOr {
    width: 23%;
    padding-right: 15px;
}
.brUtOr img {
    width: 100%;
    height: 100%;
}
.bxmebP {
    width: 23%;
}
.dxinJO {
    display: flex;

}
.lkgVIY {
    cursor: pointer;
}
.eCTQBU {
    margin: 0px 10px;
}
.lndYdR {
    padding-left: 12px;
    cursor: pointer;
}
.hSyAhr {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
}
._3zqGM {
    background-color: lightslategray;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    padding: 29px 0;
}
._26WmF {
    fill: #fff;
    width: 142px;
}
._2BWW_ {
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    letter-spacing: -.6px;
}
._1Az3W {
    margin-left: 30px;
    display: inline-block;
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    will-change: transform;
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
}
.fade-in-enter-done {
    opacity: 1;
    transition: opacity 500ms ease 0s;
}
.mXdik {
    padding: 16px 24px 24px;
    position: relative;
}
.drXva {
    margin-top: 16px;
    margin-bottom: 16px;
}
html[kite-lang] .sc-fznZeY, html[kite-lang] .sc-fzplWN, html[kite-lang] .sc-Axmtr, html[kite-lang] .kite-js-DEPRECATED_Text, html[kite-lang] .sc-AxmLO, html[kite-lang] .sc-fznyAO, html[kite-lang] .kite-js-Typography, html[kite-lang] .kite-js-Table, html[kite-lang] .kite-js-TableBody, html[kite-lang] .kite-js-TableCell, html[kite-lang] .kite-js-TableHead, html[kite-lang] .kite-js-TableRow, html[kite-lang] .sc-fzokOt {
    font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.kJWwZs {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    margin: 0px;
}
.cbTNjv {
    margin-top: 8px;
}
html[kite-lang] .sc-fznZeY, html[kite-lang] .sc-fzplWN, html[kite-lang] .sc-Axmtr, html[kite-lang] .kite-js-DEPRECATED_Text, html[kite-lang] .sc-AxmLO, html[kite-lang] .sc-fznyAO, html[kite-lang] .kite-js-Typography, html[kite-lang] .kite-js-Table, html[kite-lang] .kite-js-TableBody, html[kite-lang] .kite-js-TableCell, html[kite-lang] .kite-js-TableHead, html[kite-lang] .kite-js-TableRow, html[kite-lang] .sc-fzokOt {
    font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bdRmbW {
    margin-bottom: 32px;
}
.jtMJCi {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    width: calc(100% + 24px);
}
.jtMJCi > .sc-AxhCb {
    padding: 12px;
}
.jIcqRC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.flrnRv ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
.fyVkRs {
    display: flex;
    flex-direction: row;
    padding: 0px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.jfwpXD {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    padding: 12px 8px;
    width: auto;
    border-bottom: 2px solid rgb(83, 146, 249);
    margin-bottom: -2px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.eUtsRt {
    width: 100%;
    text-align: center;
}
.jfwpXD {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    padding: 12px 8px;
    width: auto;
    border-bottom: 2px solid rgb(83, 146, 249);
    margin-bottom: -2px;
}
.dAxUxB {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.eUtsRt {
    width: 100%;
    text-align: center;
}
.jfwpXD {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    padding: 12px 8px;
    width: auto;
    border-bottom: 2px solid rgb(83, 146, 249);
    margin-bottom: -2px;
}
.jaRkAE {
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    padding: 12px 8px;
    width: auto;
    border-bottom: 1px solid rgb(221, 223, 226);
    margin-bottom: -1px;
}
.eUtsRt {
    width: 100%;
    text-align: center;
}
.jtMJCi > .sc-AxhCb {
    padding: 12px;
}
.jIcqRC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
form {
    display: block;
    margin-top: 0em;
}
.iIozRy {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    margin: -12px;
    width: calc(100% + 24px);
}
.iIozRy > .sc-AxhCb {
    padding: 12px;
}
.jIcqRC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.daSMuo {
    padding-bottom: 4px;
}
.dzZFTs {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.dNxtde {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.jgYloo {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
.bnePEP {
    margin: 0px;
    font-size: 14px;
}
.iksYDU {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(42, 42, 46);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 208, 212);
    background-clip: padding-box;
    box-sizing: border-box;
    appearance: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.jIcqRC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.daSMuo {
    padding-bottom: 4px;
}
.dzZFTs {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.dNxtde {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.jIcqRC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.hsJTpM {
    position: relative;
    border: none;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    background-color: rgb(83, 146, 249);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.clGFVP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.hsJTpM {
    position: relative;
    border: none;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    background-color: rgb(83, 146, 249);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.dAxUxB {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.hsJTpM {
    position: relative;
    border: none;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    background-color: rgb(83, 146, 249);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.bOirrJ {
    margin-top: 24px;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}
.qPKjW {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(83, 146, 249);
}
.qPKjW {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(83, 146, 249);
}
.jWIkjO {
    padding-right: 4px;
    display: inline-block;
}
.qPKjW {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(83, 146, 249);
}
.jwemYc {
    font-size: 12px;
}
.jwemYc * {
    fill: rgb(83, 146, 249);
}
.dzZFTs {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.qPKjW {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(83, 146, 249);
}
.eaVHUA {
    width: 100%;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 0px;
}
.kuGZmW {
    min-width: 1px;
    width: 100%;
    flex: 1 1 0%;
    margin: 0px;
    border-bottom: 1px solid rgb(221, 223, 226);
}
.eaVHUA {
    width: 100%;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 0px;
}
.hDVyIJ {
    margin-left: 8px;
    margin-right: 8px;
}
.eaVHUA {
    width: 100%;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 0px;
}
.dzZFTs {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.eaVHUA {
    width: 100%;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 0px;
}
.drXva {
    margin-top: 16px;
    margin-bottom: 16px;
}
.joSgZT {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    width: calc(100% + 16px);
}
.joSgZT > .sc-AxhCb {
    padding: 8px;
}
.jIcqRC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.ejSjga {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: -4px;
    width: calc(100% + 8px);
}
.ejSjga > .sc-AxhCb {
    padding: 4px;
}
.jIcqRC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.kwctaZ {
    transition: all 0.2s ease-in-out 0s;
}
.gqJtpf {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    border: 1px solid rgb(83, 146, 249);
    color: rgb(83, 146, 249);
    background-color: rgb(255, 255, 255);
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.clGFVP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.gqJtpf {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    border: 1px solid rgb(83, 146, 249);
    color: rgb(83, 146, 249);
    background-color: rgb(255, 255, 255);
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.gqJtpf {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    border: 1px solid rgb(83, 146, 249);
    color: rgb(83, 146, 249);
    background-color: rgb(255, 255, 255);
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.ejSjga > .sc-AxhCb {
    padding: 4px;
}
.kEkzhC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}
.kwctaZ {
    transition: all 0.2s ease-in-out 0s;
}
.gqJtpf {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    border: 1px solid rgb(83, 146, 249);
    color: rgb(83, 146, 249);
    background-color: rgb(255, 255, 255);
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.clGFVP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.bdPxIn {
    margin-right: 8px;
    display: flex;
}
.dAxUxB {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.ejSjga > .sc-AxhCb {
    padding: 4px;
}
.kEkzhC {
    box-sizing: border-box;
    margin: 0px;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}
.kwctaZ {
    transition: all 0.2s ease-in-out 0s;
}
.gqJtpf {
    position: relative;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    border: 1px solid rgb(83, 146, 249);
    color: rgb(83, 146, 249);
    background-color: rgb(255, 255, 255);
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.clGFVP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.bdPxIn {
    margin-right: 8px;
    display: flex;
}
.bFGaPh {
    text-align: center;
}
.caqilX {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(42, 42, 46);
}
.bFGaPh {
    text-align: center;
}
.bFGaPh {
    text-align: center;
}
.qPKjW {
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(83, 146, 249);
}
.dQMlnr {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.dQMlnr {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}